div.header {
	display: flex;
	height: 60px;
	background-color: FD9800;
	padding-left: 12%;
	padding-right: 12%;
	justify-content: center;
	align-items:center;
	font-size: 20px;
}

p.header_title {
	font-weight: 800;
}

div.upper {
	display: flex;
	height: 150px;
	padding-left: 12%;
	padding-right: 12%;
	align-items:center;
	font-size: 20px;
	flex-direction: column;
	justify-content: space-evenly
}

button.parse_button {
	height: 45px;
	width: 70px;
	border: 0;
  	border-radius: 10px;
  	background: #FD9800;
	font-weight: 500;
}

td {
  border: 1px solid #333;
}