div.footer {
	display: flex;
	height: 85px;
	background-color: #000;
	padding-left: 12%;
	padding-right: 12%;
	justify-content: space-between;
	align-items:center;
	color: #FFF;
	font-size: 20px;
} 

div.social_media {
	display: flex;
	width: 306px;
	justify-content: space-between;
}

div.adress_information {
	display: flex;
	align-items: flex-end;
	width: 351px;
	height: 54px;
	justify-content: space-between;
}

p.contacts {
	padding-bottom: 8px;
}
