<html>

<head>
    <title>Парсер</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/title.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
<div class="main">
    <div class="header">
        <p class="header_title">DNS / Citilink Parser</p>
    </div>
    <div class="content">
        <div class="upper">
            <div class="his_1"></div>
            <form action="" method="post" id="first_form">
                <input type="text" name="request"><br>
                <input type="submit" value="Спарсить!" class="main_button">
                <div>
                <input type="checkbox" id="coding" name="checkbox">
                <label for="coding">Исключить из парсинга товары, в названии которых отсутствует поисковой запрос.</label>
              </div>
            </form>
            <div class="his"><a href="#" onclick="document.getElementById('popup').style.display='flex'"><img
                    src="{{ url_for('static', filename='img/history.png') }}" class="history_img"></a></div>
            <div class="popup" id="popup">
                <div><a href="#" onclick="document.getElementById('popup').style.display='none'"><img
                        src="{{ url_for('static', filename='img/close.png') }}" class="history_img"></a></div>
                <div>
                    {% if req_list %}
                    <form action="" method="post" id="second_form">
                        <p>
                        <p>История запросов:</p>
                        <select name="select">
                            {% for j in req_list %}
                            <option value="{{ j[1] }}">{{ j[1] }}</option>
                            {% endfor %}
                        </select>
                        </p>
                        <br>
                        <p>
                            <input type="submit" value="Показать">
                        </p>
                    </form>
                    {% endif %}
                    {% if not req_list %}
                    <p>История запросов пуста.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="request_description">
            {% if not err %}
            {% if req %}
            <p>Товары по запросу: "{{req}}"</p>
            {% endif %}
            {% endif %}
            {% if err %}
            <p>{{err}} {% if err[0] != "П" %}{{req}}{% endif %}</p>
            {% endif %}
        </div>
        <div class="lower">
            <table>
                {% for i in name %}
                {% if i %}
                {% set colors_list = split_colors(i[3]) %}
                {% set arr_len = colors_list|length %}
                <tr>
                    <td rowspan="{{arr_len}}">{{ loop.index }}</td>
                    {% if arr_len == 1 %}
                    <td rowspan="{{arr_len}}">{{ i[1] }}</td>
                    {% endif %}
                    {% if arr_len != 1 %}
                    <td rowspan="{{arr_len}}">{{ i[2] }}</td>
                    {% endif %}
                    <td rowspan="{{arr_len}}">{{ i[4] }}</td>
                    <td>{% if colors_list[0][0] != "None" and arr_len != 1 %} {{ colors_list[0][0] }} {% endif %} {{ colors_list[0][1]}}
                    </td>
                </tr>
                {% if arr_len > 1 %}
                {% for colors_dict in colors_list %}
                {% if colors_dict[0] != colors_list[0][0] %}
                <tr>
                    <td>{{ colors_dict[0]}} {{ colors_dict[1]}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>